/* BREAKPOINTS */
$breakpoint-tablet: 768px
$breakpoint-desktop: 1024px
$breakpoint-large-desktop: 1440px


/* COLORS */
$color-yellow: #ffe600
$color-blue: #3483fa
$color-gray-l: #333333
$color-gray-m: #999999
$color-gray-s: #eeeeee

/* PADDINGS */
$padding-one-col: 8.3%
$padding-wide: 2rem
$padding-narrow: 1rem
$padding-content: 0 $padding-one-col 0

/*BORDER RADIUS*/
$border-radius: 4px

/* FLEX CONTAINERS */
%flexbox-row
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

%flexbox-column
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
