@import '/globals/_variables'
@import '/components/UI/icons'
@import '/components/pages/product'
@import '/components/pages/search_result'
@import '/components/UI/search_bar'
@import '/components/UI/breadcrumbs'
@import '/components/UI/loader'

*
  margin: 0
  font-family: 'Montserrat', sans-serif

.app
  background-color: $color-gray-s
  height: 100%
  .header
    @extend %flexbox-row
    width: 100%
  main
    background-color: $color-gray-s
    min-height: 100vh
    padding: $padding-content 
    padding-top: $padding-narrow
    padding-bottom: $padding-one-col