@import '/globals/_variables'
@import '/globals/icons'
@import '/components/search'

*
  margin: 0

.app
  background-color: $color-gray-s
  height: 100vh
  .header
    @extend %flexbox-row
    width: 100%